<html>
    <head th:replace="~{layout/plantilla :: head}">
        <title>Inicio || MadelineGarden</title>
        <link rel="shortcut icon" href="img/4086239380f418bfdadf7fd6ee566361.png">
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <table border="2">
            <thead>
                <tr>
                    <th>nombreproducto</th>
                    <th>precio</th>
                    <th>descripcion</th>
                    <th>cuidado</th>
                    <th>caracteristicas</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="producto : ${productos}">
                    <td>[[${producto.nombreproducto}]]</td>
                    <td>[[${producto.precio}]]</td>
                    <td>[[${producto.descripcion}]]</td>
                    <td>[[${producto.cuidado}]]</td>
                    <td>[[${producto.caracteristicas}]]</td>
                </tr>
            </tbody>
        </table>
        
    </body>
</html>
