<html>
    <head th:replace="~{layout/plantilla :: head}">
        <title>Inicio || MadelineGarden</title>
        <link rel="shortcut icon" href="img/4086239380f418bfdadf7fd6ee566361.png">
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>

        <!-- Card -->
        <div class="container" style="margin-top: 5%;">
             <div class="container">            
            <div class="row row-cols-3">               
                <div class="card m-3" th:each="producto : ${productos}">                    
                    <div class="card-body p-2">
                        <div class="p-5">
                            <img th:src="${producto.imagen}" width="70px"/>                        
                            <h5 class="card-title">[[${producto.nombreproducto}]]</h5>                        
                            <h6 class="card-subtitle mb-2 text-muted text-end">[[${producto.precio}]]</h6>                        
                            <a class="card-link" th:href="@{/carrito/comprar/} + ${producto.idproducto}">Comprar</a>                        
                            <p class="card-text">[[${producto.nombreproducto}]]</p>   
                        </div>            
                    </div>                
                </div>            
            </div>        
        </div>
    </div>
    <!-- Card -->

</body>
</html>
