<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>MadelineGarden</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="~{layout/plantilla :: header}"/>
        <h2>Listado de Usuarios</h2> 
        <br><hr>
        <a th:href="@{/usuario/nuevo}" 
           class="btn btn-primary"
           ><i class="fas fa-user-plus"></i> [[${cliente.nuevou}]]</a>
        <div th:if="${usuario != null and !usuario.empty}">
            <table class="table table-strype">
                <thead class="thead-dark">
                    <tr>
                        <th>[[${cliente.correo}]]</th>
                        <th>[[${login.password}]]</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="usuario : ${usuario}">
                        <td>[[${cliente.correo}]]</td>
                        <td>[[${cliente.conteasenna}]]</td>
                        <td><a th:href="@{/usuario/eliminar/}+${usuario.idusuario}"
                               class="btn btn-danger">
                                <i class="fas fa-trash"></i>[[${accion.eliminar}]] </a>
                            <a th:href="@{/usuario/modificar/}+${usuario.idCliente}"
                               class="btn btn-success">
                                <i class="fas fa-pencil"></i>[[${accion.modificar}]] </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${usuario == null or usuario.empty}">
            <h3>No hay clientes que mostrar</h3>
            
        </div>
        <footer th:replace="~{layout/plantilla :: footer}"/>
    </body>
</html>
