<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/plantilla :: head}">
    <title>Inicio || MadelineGarden</title>
    <link rel="shortcut icon" href="img/4086239380f418bfdadf7fd6ee566361.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
          <meta charset="UTF-8"/>
<body class="pt-5" >
    <!-- Header -->
    <header th:replace="~{layout/plantilla :: header}"></header>
    <!-- Hero -->


    <!-- Footer -->
    <footer th:replace="~{layout/plantilla :: footer}"></footer>
    <!-- Footer -->  
</body>
</html>
