<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Inicio || MadelineGarden</title>
        <link rel="shortcut icon" href="img/4086239380f418bfdadf7fd6ee566361.png">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"
              <meta charset="UTF-8"/>
    </head>
    <!-- pt-5 para que se vea bien el header-->
    <body class="pt-5">
        <!-- Header -->
        <header th:replace="~{layout/plantilla :: header}"></header>
        <!-- Hero -->
        <div class="p-5 text-center bg-image rounded-1" style="background-image: url(img/PngHero.png)" height="500px">
            <h1 class="mb-3 text-white">Suculentas, cactus y arreglos</h1>
            <h4 class="mb-3 text-white">Realiza tu compra aqui y las llevaremos hasta a tu casa</h4>
            <a class="btn btn-dark btn-lg bg-ligh" href="#!" role="button">Telefono</a>
            <a class="btn btn-dark btn-lg bg-ligh" href="productos/catalogo" role="button">Ver todos los productos</a>
            <a class="btn btn-dark btn-lg bg-ligh" href="#!" role="button">Whatsapp</a>
        </div>
        <!-- Hero -->

        <!-- Container -->
        <div class="carousel slide p-5" data-bs-ride="carousel">
            <div class="carousel-inner" th:each="producto : ${productos}>
                <div class="carousel-item active" data-bs-interval="2000">
                    <img src="../static/img/Planta.jpg" class="d-block w-40" alt="Imagen 1">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../static/img/Planta.jpg" class="d-block w-40" alt="Imagen 2">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                    <img src="../static/img/Planta.jpg" class="d-block w-40" alt="Imagen 3">
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!-- Container -->


        <!-- Footer -->
        <footer th:replace="~{layout/plantilla :: footer}"></footer>
        <!-- Footer -->   
    </body>
</html>
