<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Inicio || MadelineGarden</title>
        <link rel="shortcut icon" href="img/4086239380f418bfdadf7fd6ee566361.png">
        <meta charset="UTF-8"/>
    </head>
    <!-- pt-5 para que se vea bien el header-->
    <body class="pt-5">
        <!-- Header -->
        <header th:replace="~{layout/plantilla :: header}"></header>
        <!-- Hero -->
        <div class="p-5 text-center bg-image rounded-1" style="background-image: url(img/PngHero.png)" height="500px">
            <h1 class="mb-3 text-white">Suculentas, cactus y arreglos</h1>
            <h4 class="mb-3 text-white">Realiza tu compra aqui y las llevaremos hasta a tu casa</h4>
            <a class="btn btn-dark btn-lg bg-ligh" href="#!" role="button">Telefono</a>
            <a class="btn btn-dark btn-lg bg-ligh" href="#!" role="button">Ver todos los productos</a>
            <a class="btn btn-dark btn-lg bg-ligh" href="#!" role="button">Whatsapp</a>
        </div>
        <!-- Hero -->
        <!-- Container -->
        <div class="container text-center justify-content-center">
            <h1 class="p-5">Lo mas vendido</h1>
            <div class="row align-items-center">
                <a class ="p-5 col" href="url">
                    <img width="150" height="150" src="img/Planta.jpg" alt=""/>
                    <p class="active">Suculenta</p>
                </a>
                <a class ="p-5 col" href="url">
                    <img width="150" height="150" src="img/Planta.jpg" alt=""/>
                    <p class="active">Suculenta</p>
                </a>
                <a class ="p-5 col" href="url">
                    <img width="150" height="150" src="img/Planta.jpg" alt=""/>
                    <p class="active">Suculenta</p>
                </a>
                <a class ="p-5 col" href="url">
                    <img width="150" height="150" src="img/Planta.jpg" alt=""/>
                    <p class="active">Suculenta</p>
                </a>
                <a class ="p-5 col" href="url">
                    <img width="150" height="150" src="img/Planta.jpg" alt=""/>
                    <p class="active">Suculenta</p>
                </a>
                <a class ="p-5 col" href="url">
                    <img width="150" height="150" src="img/Planta.jpg" alt=""/>
                    <p class="active">Suculenta</p>
                </a>
            </div>
        </div>
        <!-- Container -->
        
    </body>
</html>
